.env
.DS_Store
terraform.tfvars


# Local terraform directories
**/.terraform/*

# .tfstate files (These contain plain-text secrets!)
*.tfstate
*.tfstate.*

# Crash log files
crash.log

*.tfplan

# Sensitive variables
terraform.tfvars
*.tfvars.json