# The API token you just generated in the DO dashboard
do_token = 

# The fingerprint of your SSH key (found in the DO API > SSH Keys tab)
ssh_fingerprint = 

# Your preferred region
region = "fra1"

# Common tags for your Ticketmaster project
project_name = "UEvent"
